h1{
    color: maroon;

}
.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(235, 223, 207);
}

.user {
    font-weight: bold;
    font-style: italic;
}

.content {
    color: #555;
}
